* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

.App-title {
  font-size: 1.5em;
}

/* Nav */

.header {
  background-color: #22AE87;
  box-sizing: border-box;
  height: 85px;
  padding-top: 20px;
  display: flex;
  flex-flow: row wrap;
}

.header-main,
.header-contact {
  /* width: calc(50% - 20px);*/
  text-decoration: none;
}

.header-main {
  font-family: 'Aladin', cursive;
  color: #f9e6b6;
  font-size: 1.5em;
  /*padding-left: 20px;*/
  text-align: left;
}

.header-main a:link,
.header-main a:active,
.header-main a:hover,
.header-main a:visited {
  color: #f9e6b6;
}


.header-contact {
  padding-right: 20px;
}

.contact {
  color: #fff;
  /*font-size: 1.35em;*/
  padding: 12px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

a.contact:link,
a.contact:visited {
  color: #fff;
  text-decoration: none;
  padding-left: 12px;
}

a.contact:hover,
a.contact:active {
  color: #e5e5e5;
}

a.footer-a {
  font-weight: bold;
}

a.footer-a:link,
a.footer-a:visited {
  color: #b62574;
}

a.footer-a:active,
a.footer-a:hover {
  color: #db4c9a;
}

/*a {
  color: #fff;
  text-decoration: none;
}*/

@media (min-width: 768px) {
  .contact {
    justify-content: flex-end;
  }
}

