
body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

/* for sticky footer */
/*.header,*/
main {
  margin: 0 5% 20px 5%;
}

h1,
h2,
h3,
h4 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 1.7em;
}

h2 {
  font-size: 1.4em;
}

.h2-preference {
  padding-top: 12px;
}

/* Bootstrap navbar overrides */

.navbar {
  border-radius: 0px;
}

.navbar-default .navbar-brand {
  color: #f9e6b6;
  font-size: 1.7em;
  padding-top: 13px;
}

.navbar>.container a.navbar-brand :hover,
.navbar>.container a.navbar-brand:active,
.navbar>.container a.navbar-brand:link,
.navbar>.container a.navbar-brand:visited,
.navbar>.container-fluid a.navbar-brand:hover,
.navbar>.container-fluid a.navbar-brand:active,
.navbar>.container-fluid a.navbar-brand:link,
.navbar>.container-fluid a.navbar-brand:visited {
  color: #f9e6b6;
}


.navbar-default {
  background-color: #146851;
  border-color: #146851;
}

.navbar-text {
  color: #fff;
}

.div-login {
  display: inline-block;
  padding-top: 20px;
}

.inp-email,
.inp-password {
  display: inline-block;
  width: 50px;
}

/* footer */

footer {
  height: 150px;
  text-align: center;
  background-color: #e5e5e5;
  border-top: 1px solid #999999;
  margin-bottom: 0;
  padding-top: 30px;
  overflow: hidden;
}

.footer-staff {
  color: #4aa08b;
  font-weight: bold;
}

/*footer-p {
  margin-bottom: 0;
}*/

/* Bootstrap modal */

.modal-container {
  position: relative;
}

.modal-container .modal,
.modal-container .modal-backdrop {
  position: absolute;
}

/* Recipe style mobile */

.recipe-container {
  display: flex;
  flex-flow: col wrap;
  /*flex-flow: row wrap;*/
  width: 100%;
/*  background-color: #e8f6f3;*/
  margin-bottom: 12px;
  padding: 8px;
}

.recipe-wrapper-in {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-self: flex-start;
  border-bottom: 1px solid #ccc;
  padding: 20px 12px 12px 12px;
}

.recipe-div1 {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.recipe-div2 {
  width: 100%;
/*  justify-content: flex-start;
  align-items: flex-start;
*/
}

.recipe-img {
  display: block;
  /* responsive default */
  /*max-width: 100%;*/
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
}

.recipe-heading {
  display: flex;
  flex-flow: row nowrap;
}

.recipe-title {
  margin-top: 18px;
  width: 75%;
}

.recipe-name {
  -webkit-margin-after: 8px;
  margin-after: 8px;
  font-size: 1.4em;
  font-weight: bold;
}

.recipe-cooktime {
  width: 25%;
  margin-top: 16px;
  margin-left: auto;
  background-color: #abd8cd;
  border-radius: 50%;
  width: 85px;
  height: 85px;
  text-align: center;
}

.vertical-center {
  display: inline-block;
  vertical-align: middle;
  line-height: 85px;
}

.recipe-div3 {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: #666666;
}

/*.recipe-nutrients {
}
*/

.nutrient-item {
  width: 30%;
}

/*.recipe-nutrition {
  width: 90%;
  text-align: right;
}

.nutrition-text {
  color: #4c4c4c;
  font-size: 0.8em;
}

.subheading {
  font-weight: bold;
}*/

.li-ingredient {
  margin-left: 18px;
}

/* Links */

.recipe-name a:link,
.recipe-name a:visited {
  text-decoration: none;
  color: #146851;
}

.recipe-name a:hover,
.recipe-name a:active {
  color: #22ae87;
}

/*.recipe-nutrients {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: #666666;
}*/

/*.nutrient-item {
  width: 33%;
}
*/

/* bootstrap override */

.btn,
.btn:hover,
.btn:active,
.btn:visited,
.btn:focus {
  background-color: #ffffff;
  border-color: #ffffff;
  border: none;
  color: #2d9f84;
}

.btn {
  transition: none;
  margin-left: 0;
  padding-left: 0;
  border: none;
}

label {
  font-weight: 400;
/*  color: #666666;
*/}

/* Recipe List filter */
.flex-row,
.flex-row-notification {
  width: 100%;
  display: flex;
  flex-flow: col wrap;
}

.flow-column-1 {
  width: 100%;
}

.flow-column-2 {
  width: 100%;
}

input[type=text],
input[type=number],
input[type=email],
input[type=tel],
input[type=password] {
  padding: 5px 8px;
  border-radius: 5px;
  border-style: solid;
  border: 1px solid #cccccc;
/*  margin-right: 12px;
*/}

input[type=text],
input[type=tel] {
  width: 80%;
}

/* TODO fix for mobile */
input[type=email],
input[type=password] {
  width: 150px;
  margin-right: 5px;
}

.input-text-recipe {
  width: 380px;
}

input[type=radio],
input[type=checkbox] {
  margin-left: 12px;
}

input[type=checkbox] {
  margin-right: 3px;
}

input[type=number] {
  width: 50px;
  margin-left: 3px;
}

.details-allergies,
.details-cuisines {
  margin-left: 12px;
}

.btn-all {
  padding: 5px 8px;
  border-radius: 5px;
  width: 80px;
  margin-right: 12px;
}

/* Recipe List button state */
.btn-saved {
  background-color: #f5cce2;
  border: none;
  /*border: 1px solid #ce006f;*/
}

.btn-not-saved {
  background-color: #dbeeea; /*#cce7e1;*/
  border: none;
  /*background-color: #7fb2b2;*/ /* teal */
  /*border: 1px solid #7fb2b2;*/
}

.btn-settings-save {
  margin-top: 12px;
}

.btn-save,
.btn-login,
.btn-logout {
  background-color: #cccccc;
}

.btn-logout {
  margin-top: 20px;
}

.input-all {
  padding: 5px 8px;
  border-radius: 5px;
  border: 1px solid #666666;
  padding-left: 6px;
  margin-left: 6px;
}

.input-rating {
  width: 50px;
}

/*.btn-hidden {
  background-color: #02325f; /* dark blue */
/*}

.btn-not-hidden {
  background-color: #b1b5b7; grey blue
}*/

@media (min-width: 500px) {
  .flex-row {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
  }

  .flow-column-1 {
    width: 40%;
  }

  .flow-column-2 {
    width: 60%;
/*    padding-left: 16px;*/
  }

  .recipe-container {
    justify-content: space-between;
    align-items: center;
  }

  .recipe-wrapper-in {
    width: 50%;
  }

  .input-text-recipe {
    min-width: 480px;
    max-width: 600px;
  }
}

@media (min-width: 631px) {
  .input-text-recipe {
    margin-left: 3px;
  }
}

@media (min-width: 640px) {
  .flex-row-notification {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
  }
}

@media (min-width: 768px) {
  .navbar-default .navbar-brand {
    padding-top: 26px;
  }
}

@media (min-width: 900px) {
  .flow-column-1 {
    width: 30%;
  }

  .flow-column-2 {
    width: 70%;
/*    padding-left: 16px;*/
  }

  .nutrition-text {
    font-size: 1em;
  }

  .recipe-wrapper-in {
    width: 30%;
    display: flex;
    flex-flow: row wrap;
  }

  .recipe-div1 {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .recipe-div2 {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }

}

@media (min-width: 992px) {

  /* bootstrap override */
  .container {
    width: 90%;
  }
}
